.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  height: 100%;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-gap: 16px;
  align-items: start;
}

.col {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.module {
  width: 280px;
  display: block;
  box-shadow: 0 0 9px 0 #00000088;
  border-radius: 8px;
  background-color: #292d39;
  margin-bottom: 16px;
}

.titleBar {
  height: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
}

.titleBarTitle {
  color: #8c92a4;
  font-family: var(--fonts-mono);
  font-size: 11px;
}

.titleLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.titleAccessory {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c92a4;
}

.titleAccessory:hover {
  color: #fefefe;
}

.titleAccessory > svg {
  cursor: pointer;
  width: 13px;
  min-width: 13px;
  height: 13px;
  transition: transform 350ms ease 0s;
}

.caretOpen > svg {
  transform: rotate(180deg);
}

.panel {
  border-radius: 8px;
  background-color: #181c20;
}

.ctrlContainer {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 8px;
}

.ctrlRow {
  display: grid;
  grid-template-columns: auto 160px;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-rows: minmax(24px, max-content);
  align-items: center;
  color: #8c92a4;
  font-family: var(--fonts-mono);
  font-size: 11px;
}

.ctrlRow:hover {
  color: #fefefe;
}

.topCtrlRow {
  padding-top: 6px;
}

.bottomCtrlRow {
  padding-bottom: 6px;
}

.middleCtrlRow {
  padding-left: 10px;
  padding-right: 10px;
}

.label {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.label label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  color: inherit;
  height: 24px;
  background-color: #373c4b;
  box-shadow: inset 0 0 0 1px #292d39;
}

.input:hover {
  box-shadow: inset 0 0 0 1px #0066dc;
}

.inputImmut {
  padding: 0 6px;
}

.inputImmut:hover {
  box-shadow: inset 0 0 0 1px #292d39;
}

.input input {
  outline: none;
  border: none;
  background-color: transparent;
  appearance: none;
  padding: 0 6px;
  width: 0;
  min-width: 0;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.bottomBar {
  height: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  color: #8c92a4;
  font-family: var(--fonts-mono);
  font-size: 11px;
}

.submitRow {
  display: grid;
  color: #8c92a4;
  font-family: var(--fonts-mono);
  font-size: 11px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.inputRow {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  color: #8c92a4;
  font-family: var(--fonts-mono);
  font-size: 11px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
  appearance: none;
  color: #fefefe;
  height: 24px;
  border-radius: 4px;
  background-color: #007bff;
  cursor: pointer;
  text-align: center;
}

.btnDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.bb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyInput {
  width: 100%;
}

.bbLeft {
  composes: bb;
  padding: 6px 10px;
  flex: 1;
}

.bbRight {
  composes: bb;
  padding: 6px 10px;
}

.bbCenter {
  composes: bb;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #8c92a4;
  width: 80px;
}

.select span {
  width: 100%;
  padding: 0 6px;
  cursor: pointer;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: #373c4b;
}

.select svg {
  fill: #8c92a4;
  position: absolute;
  right: 6px;
}

.select select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.select:hover > span {
  box-shadow: inset 0 0 0 1px #0066dc;
  color: #fefefe;
}

.select:hover > svg {
  fill: #fefefe;
}

.instructions {
  font-size: 0.8em;
  padding: 7px 10px;
}

.fileItems {
  position: relative;
  display: grid;
  grid-template-columns: 24px auto 20px;
  column-gap: 7px;
  align-items: center;
}

.stringItems {
  position: relative;
  align-items: center;
}

.stringItemsDeletable {
  display: grid;
  grid-template-columns: auto 20px;
  column-gap: 7px;
}

.sliderItems {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: auto 44px;
  column-gap: 7px;
}

.imgPreview {
  box-sizing: border-box;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  box-shadow: inset 0 0 0 1px #535760;
  background-size: cover;
  background-position: center;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    height: 100%;
    cursor: pointer;
}

.delete::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  border-radius: 1px;
  background-color: currentcolor;
  transform: rotate(-45deg);
}

.delete::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  border-radius: 1px;
  background-color: currentcolor;
  transform: rotate(45deg);
}

.download {
  height: 13px;
  width: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.rangeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  touch-action: none;
}

.range {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #292d39;
}

.indicator {
  position: absolute;
  height: 100%;
  background-color: #007bff;
}

.scrubber {
  position: absolute;
  width: 8px;
  height: 16px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #181c20;
  background-color: #007bff;
}

.progressWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.progressRange {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: #373c4b;
}

.progressIndicator {
  position: absolute;
  height: 100%;
  background-color: #007bff;
  border-radius: 2px;
}

.progressMsg {
  margin-bottom: 5px;
}

@media screen and (max-width: 923px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
